node_modules
.env
coverage
coverage.json
typechain
.eslintignore
.eslintrc.js
.gitignore
.npmignore
.prettierignore
.solhint.json
.solhintignore
README.md
commands.txt
hardhat.config_org.ts
tsconfig.json
removed

#Hardhat files
cache
artifacts
scripts/test.ts
commands.txt
hardhat.config_org.ts
test/Rapid_backup.txt
.gitignore
contracts/LiquidityPool.txt
commands.txt
